In [2]:
import pandas as pd
import numpy as np

students_perfomance = pd.read_csv("StudentsPerformance.csv")

In [4]:
female_gender_mask = students_perfomance.gender == 'female'
female_gender_mask

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

In [5]:
students_perfomance.loc[female_gender_mask, 'gender']

0      female
1      female
2      female
5      female
6      female
        ...
993    female
995    female
997    female
998    female
999    female
Name: gender, Length: 518, dtype: object

In [6]:
mean_writing_score = students_perfomance['writing score'].mean()
mean_writing_score

np.float64(68.054)

In [7]:
students_perfomance.loc[students_perfomance['writing score'] > mean_writing_score, 'gender']

0      female
1      female
2      female
4        male
5      female
        ...
992    female
993    female
995    female
998    female
999    female
Name: gender, Length: 512, dtype: object

In [8]:
# students_perfomance[students_perfomance['writing score'] > 100 and students_perfomance.gender == 'female']
# Слева и справа не просто True или False, а pandas Series
# с ними не получится так работать как в примере сверху

query1 = (students_perfomance['writing score'] > 30) & (students_perfomance.gender == 'male')
students_perfomance.loc[query1]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
...,...,...,...,...,...,...,...,...
985,male,group A,high school,standard,none,57,51,54
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55

In [ ]:
students_perfomance = students_perfomance.rename(columns={
    "parental level of education": "parental_level_of_education",
    "test preparation course": "test_preparation_course",
    "math score": "math_score",
    "reading score": "reading_score",
    "writing score": "writing_score"
})
# students_perfomance[students_perfomance["writing_score"] > 70]
students_perfomance.query("writing_score > 70")
students_perfomance.query("gender == 'female' & writing_score > 70")

writing_score_query = 50
students_perfomance.query("gender == 'female' & writing_score > @writing_score_query").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
culumns_names = list(students_perfomance)
culumns_names_score = [i for i in culumns_names if 'score' in i]
# culumns_names_score

['gender',
 'race/ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score']